.quote {
    background-color: var(--COLOR-BG-SECTION-LIGHT);
}

.quote__head-block {
    padding: 45px 20px;
}

.quote__text-block {
    border: 1px solid var(--COLOR-HEAD-TITLE);
}

.quote__title {
    padding: 20px;
    text-align: center;
    color: var(--COLOR-HEAD-TITLE);
}

.quote__text {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    .quote__head-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quote__text-block {
        width: 600px;
    }
}